    <style>        
        .header{
            font-size: 50px;
            font-weight: bold;
            color:black;
            text-align: center;
        }
    </style>
<h1 class = "header">Sherullah il Moazzam 1444H</h1>