<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
	<title>Allocation</title>
    <style>
        body {
          background-image: url('../background.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;
           background-size: 100% 100%;
        }
        .text{
            font-size: 20px;
            font-weight: bold;
            color: red;
            text-align: right;
        }
        .text1{
            font-size: 20px;
            font-weight: bold;
            color: red;
            text-align: center;
        }
        .box{
            border-width: 3px solid;
            width: 300px;
            height: 340px;
            border: double black;
            
        }
        </style>
  </head>
  <body>
    
     {{> header}}<br><br>
    
    <center>
        <h1 class="text-success"> Admin Panel</h1>
    <div class ="box">
  

	<form action="/admin/login" method="post">
  	<br>
  	&nbsp;&nbsp;&nbsp;<input type="text" name="its" style="font-size:16pt;height:30px" placeholder="username"  required><br><br>
  	<br>
  	&nbsp;&nbsp;&nbsp;<input type="text" name="sabeel" style="font-size:16pt;height:30px" placeholder="password"  required><br><br><br><br>

  	<center><input type="submit"  style="font-size:20px;width: 270px; height: 50px; color:white;background-color:blue" value="Submit"></center>
      
      <h3 style="color:red;"> {{message}} </h3>
</form>
</div>
 
</center>
  <footer class="bg-success d-flex flex-column justify-content-center w-100 align-items-center text-white position-absolute bottom-0">
   <p>Powered by:-</p> <p>Toloba-ul-Kulliyat-ul-Mumeneen-Noorani Nagar</p>
  </footer>
  </body>
</html>