<!DOCTYPE html>
<html>
  <head>
	<title>Poems</title>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
          background-image: url('background.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;
           background-size: 100% 100%;
        }
        .text{
            font-size: 20px;
            font-weight: bold;
            color: red;
            text-align: right;
        }
        </style>
  </head>
  <body>
      
    <right>
	<a href="/login"><p class = "text">Sign In </p></a>
    </right>
     {{> header}}
  </body>
</html>