<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Poems</title>
    <style>
        body {
          background-image: url('background.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;
           background-size: 100% 100%;
        }
        .text{
            font-size: 20px;
            font-weight: bold;
            color: red;
            text-align: right;
        }
        .text2{
            font-size: 20px;
            font-weight: bold;
            color: red;
            text-align: center;
        }
        .text1{
            font-size: 20px;
            font-weight: bold;
            color: red;
            text-align: center;
        }
        .box{
            border-width: 3px solid;
            width: 300px;
            height: 340px;
            border: double black;
            
        }
        </style>
  </head>
  <body>
    
       {{> header}}
    
    <center>
    <div class ="box">
  
      
	<form action="/addUser" method="post">
  	<br>
    &nbsp;&nbsp;&nbsp;<input type="text" name="name" style="font-size:16pt;height:30px" placeholder="Your Full_Name"  required><br>
  	<br>
  	&nbsp;&nbsp;&nbsp;<input type="text" name="its" style="font-size:16pt;height:30px" placeholder="ITS_ID"  required><br>
  	<br>
  	&nbsp;&nbsp;&nbsp;<input type="text" name="sabeel" style="font-size:16pt;height:30px" placeholder="Sabeel"  required><br>
  	<br>
  	&nbsp;&nbsp;&nbsp;<input type="text" name="mobile" style="font-size:16pt;height:30px" placeholder="Mobile no"  required><br><br><br>


  	<center><input type="button"  style="font-size:20px;width: 270px; height: 50px; color:white;background-color:blue" value="Register"></center>
    <h3 style="color:red;"> {{message}} </h3> 
</form>
</div>
</center>

  </body>
</html>